---
import "@/styles/global.css";
import type { Metadata } from "@/interfaces/global";
import Header from "./header.astro";
import Footer from "./footer.astro";
import { cn } from "@/lib/utils";
import type { WithContext, Thing } from "schema-dts";

export interface Props {
  title: string;
  description?: string;
  className?: string;
  metadatas?: Metadata[];
  schema?: WithContext<Thing> | null;
}

const {
  title,
  description = "Website Al-Quran dan Hadith",
  className,
  metadatas = [],
  schema = null,
} = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />

    {metadatas.map(({ tag: Tag, ...rest }) => <Tag {...rest} />)}
    {
      schema && (
        <script
          is:inline
          type="application/ld+json"
          set:html={JSON.stringify(schema)}
        />
      )
    }
  </head>
  <body
    class="min-h-screen bg-background text-foreground transition-colors duration-300"
  >
    <div id="app" class="min-h-screen flex flex-col">
      <Header />
      <main id="main-content" class={cn("flex-1", className)}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
